{% extends 'base.html' %}

{% load static %}

{% block title %}Cadastrar Novos Casos{% endblock %}

{% block content %}
<style>
  .new-incident-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .new-incident-container .content {
    width: 100%;
    padding: 96px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .new-incident-container .content section {
    width: 100%;
    max-width: 380px;
  }

  .new-incident-container .content section h1 {
    margin: 64px 0 32px;
    font-size: 32px;
  }

  .new-incident-container .content section p {
    font-size: 18px;
    color: #737380;
    line-height: 32px;
  }

  .new-incident-container .content form {
    width: 100%;
    max-width: 450px;
  }

  .new-incident-container .content form input,
  .new-incident-container .content form textarea {
    margin-top: 8px;
  }
</style>
<div class="new-incident-container">
  <div class="content">
    <section>
      <a href="{% url 'home' %}">
        <img src="{% static 'logo.svg' %}" alt="Be the Hero" /></a>

      <h1>Cadastrar novo caso</h1>
      <p>Descreva o caso detalhadamente para encontrar um herói para resolver isso.</p>

      <a href="{% url 'painel' %}" class="btn back-link">
        {% comment %}
        <FiArrowLeft size={16} color="#E02041" /> {% endcomment %}
        <img style="width: 24px; height: 24px;" src="{% static 'voltar.png' %}"></img>
        Voltar para home
      </a>
    </section>

    <form method="POST" action="">
      {% csrf_token %}
      {{formcasos.title_case}}

      {{formcasos.description}}

      {{formcasos.value}}

      <button class="button" type="submit">Cadastrar</button>
    </form>
  </div>
</div>

{% endblock %}